jupytext_logfile.txt
notebooks/.ipynb_checkpoints
notebooks/python/*workspace*
.DS_Store
.ipynb_checkpoints

notebooks_out.json
rst_out.json
1-python-basics.ipynb
*.ipynb
temp.md
*/data/raw*
notebooks/pandas/data/raw
notebooks/pandas/data/processed/
notebooks/pandas/python/data/raw
